/*
    Index.html CSS Begins
*/

h1.title {
    font-size: 50px;
    margin: auto;
    width: 50%;
    padding-bottom:5%;
    text-align: center;
    background-color: white;
}

.docGrid {
    padding-top: 2%;
    margin: auto;
    width: 50%;
    text-align: center;
}

.buttonGrid {
    border: 10px groove green;
    border-radius: 30%;
    padding: 20% 10px 20% 10px;
    display: grid;
    gap: 30px 30px;
    grid-template-columns: auto;
}

.ctfButton {
    margin: auto;
    transition-duration: 1s;
    width: 70%;
    background-image: radial-gradient(circle, red, orange, yellow);
    border: 3px thick black;
    border-radius: 20%;
    color: white;
    text-align: center;
    text-decoration: wavy;
    font-size: 20px;
}

.ctfButton:hover {
    background-image: none;
    background-color: red;
    color: white;
}

/*
    Image stegonagraphy challenge CSS begins
*/

h1.steg {
    font-size: 5em;
    margin-top: 40px;
    text-align: center;
    letter-spacing: -2px;
}


img.steg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

/*
    Audio stegonagraphy challenge CSS begins
*/

video.steg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

/*
    Encryption Challenge CSS begins
*/

h1.large {
    font-size: 70px;
    margin: auto;
    width: 70%;
    text-align: center;
    padding-bottom: 5%;
    background-color: white;
}

h2 {
    font-size: 40px;
    margin: auto;
    text-align: center;
    padding-bottom: 5%;
    background-color: white;
    letter-spacing: -1px;
}


pre {
    font-size: 40px;
    margin: auto;
    text-align: center;
    padding-bottom: 5%;
    background-color: white;
    letter-spacing: -1px;
}


/*
    Command Injection CTF CSS begins
*/

.companyform {
    width: 50%;
    background-color: #E6E6FA;
    margin-left:auto;
    margin-right:auto;
    height: 20%;
    opacity: .9;
}

.companiesTable {
    border: 3px solid black;
    width: 50%;
    margin-left:auto;
    margin-right:auto;
}

th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: center;
    background-color:aquamarine;
}

button.submitBtn {
    align-content: center;
    width: 1000px;
    color: #ff6a00
}

/*
    Stock Price Message CSS
*/


.stockPrice {
    margin: auto;
    width: 60%;
    text-align: center;
    align-content: center;
}

h3 {
    font-size: 2em;
    margin-top: 10%;
    text-align: center;
    letter-spacing: 4px;
    color: green;
}