<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Encryption</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <h1 class="steg"> Directions to decrypt the encrypted part of the flag </h1>
    <h2>Step 1. XOR with 0x5a to get an SHA1 hash</h2>
    <h2>Step 2. Find the string that produces the SHA1 hash</h2>
    <h2>Step 3. The string you get in step 2 is encypted using a caesar cipher with left shift 7.</h2>
    <h2>Decrypt it and then enclose it in CTF_SDaT{...!} to get the flag.</h2>
    <pre>The encrypted part of the flag (Don't copy this from the HTML code, it will contain wrong characters): 
        <code>c9&lt;co&gt;;9>hhl>9&lt;ni&gt;;iml9>8l988;mjiohkbchk</code>
    </pre>
</body>
</html>