<!DOCTYPE html>
<html>
<head>
    <title>CTF Challenge</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<script>
    function gotoStegImage() {
        window.location.href="http://localhost:8000/stegimg";  
      }
    function gotoStegMusic() {
        window.location.href="http://localhost:8000/stegaud";  
      }
    function gotoFlag() {
        window.location.href="http://localhost:8000/flag";  
      }
function gotoPing() {
        window.location.href="http://localhost:8000/cat/form";  
      }


</script>
<body>
    <div class="docGrid">
        <h1 class="title">CTF web app by Mathew K John</h1>
        <div class="buttonGrid">
            <button class="ctfButton" onclick="gotoStegImage()"> View an image</button>
            <button class="ctfButton" onclick="gotoStegMusic()"> Hear music</button>
            <button class="ctfButton" onclick="gotoFlag()"> Decrypt a flag</button>
            <button class="ctfButton" onclick="gotoPing()"> Get a stock price</button>
        </div>
    </div>
</body>
</html>
